<form class="p-2" [formGroup]="productForm" (ngSubmit)="onHandleEdit()">
    <!--  -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-800"
        >Tên sản phẩm</label
      >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Tên sản phẩm"
        formControlName="name"
      />
    </div>
    <!--  -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-800"
        >Ảnh</label
      >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ảnh"
        formControlName="img"
      />
    </div>
    <!--  -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-800"
        >Giá</label
      >
      <input
        type="number"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        formControlName="price"
      />
    </div>
    <!--  -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-800"
        >Mô tả</label
      >
      <textarea
        rows="10"
        formControlName="desc"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
      </textarea>
    </div>
  
    <!--  -->
    <!-- <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-800"
        >Thương hiệu</label
      >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Tên sản phẩm"
        formControlName="brand"
      />
    </div> -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-800"
        >Thương hiệu</label
      >
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        formControlName="brand"
      >
        <option value="">Chọn thương hiệu</option>
        <option *ngFor="let brand of brands" [value]="brand.name">
          {{ brand.name }}
        </option>
      </select>
    </div>
    <!--  -->
  
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Sửa
    </button>
  </form>
  