<div class="w-full h-[300px] bg-gray-900">
    <div class="max-w-[1200px] mx-auto">
        <div class="flex justify-between pt-4 m-0">
            <div class="w-[280px] h-[300px]">
                <h1 class="text-white text-2xl mb-6">Liên hệ</h1>
                <div>
                    <ul class="text-white">
                        <li class="my-2">Địa chỉ: <a href="" class="hover:text-red-500 ">123/456,Đ.XXX, Hà Nội</a>
                        </li>
                        <li class="my-2">Gmail: <a href="" class="hover:text-red-500 ">abc@gmail.com</a></li>
                        <li class="my-2">SĐT: <a href="" class="hover:text-red-500 ">012345679</a></li>
                    </ul>
                </div>
            </div>
            <div class="w-[280px] h-[300px]">
                <h1 class="text-white text-2xl mb-6">Về chúng tôi</h1>
                <div>
                    <ul class="text-white">
                        <li class="my-2"><a href="" class="hover:text-red-500 ">Giới thiệu</a> </li>
                        <li class="my-2"><a href="" class="hover:text-red-500 ">Chính sách bảo mật</a></li>
                        <li class="my-2"><a href="" class="hover:text-red-500 ">Giao hàng - Đổi trả</a></li>
                    </ul>
                </div>
            </div>
            <div class="w-[280px] h-[300px]">
                <h1 class="text-white text-2xl mb-6">Trợ giúp</h1>
                <div>
                    <ul class="text-white">
                        <li class="my-2"><a href="" class="hover:text-red-500 ">Hướng dẫn mua hàng</a> </li>
                        <li class="my-2"><a href="" class="hover:text-red-500 ">Hướng dẫn mua hàng</a></li>
                        <li class="my-2"><a href="" class="hover:text-red-500 ">Tài khoản giao dịch</a></li>
                    </ul>
                </div>
            </div>
            <div class="w-[280px] h-[300px]">
                <h1 class="text-white text-2xl mb-6">Liên kết</h1>
                <div>
                    <i class="fa-brands fa-facebook text-white text-2xl mr-3"></i>
                    <i class="fa-brands fa-instagram text-white text-2xl mr-3"></i>
                    <i class="fa-brands fa-twitter text-white text-2xl mr-3"></i>              
                </div>
            </div>
        </div>
    </div>
</div>