<!-- 
    NẾU CHƯA ĐĂNG NHẬP THÌ SHOW CÁI NÀY
 -->
 <!-- 
    if đăng nhập xong trở về trang thông tin người đùng
  -->
<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <p
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-black"
    >
      Logo
    </p>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Đăng nhập bằng tài khoản của bạn
        </h1>
        <form [formGroup]="formSignin" (ngSubmit)="onHandleSubmit()">
          <input type="text" placeholder="Email" formControlName="email" />
          <div
            *ngIf="
              formSignin.get('email')?.hasError('required') &&
              (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
            "
          >
            Email is Required
          </div>
          <div
            *ngIf="
              formSignin.get('email')?.hasError('email') &&
              (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
            "
          >
            Invalid email
          </div>
          <input type="password" placeholder="Password" formControlName="password" />
          <div
            *ngIf="
              formSignin.get('password')?.hasError('required') &&
              (formSignin.get('password')?.touched || formSignin.get('email')?.dirty)
            "
          ></div>
          <button>Đăng ký</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!--
     NẾU ĐĂNG NHẬP RỒI THÌ SHOW CÁI NÀY
 -->
